@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stilizare pagination bullets */
.swiper-pagination-bullet {
  background: #FFD700 !important; /* Galben */
  opacity: 0.5;
  width: 14px;
  height: 14px;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.3);
}
